<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>EWA.alpha</display-name>

    <description>EWAF "alpha-template" Example Web Application</description>


    <context-param>
        <param-name>servletErrorMessage</param-name>
        <param-value>A servlet error has occurred.</param-value>
    </context-param>
    <context-param>
        <param-name>sessionErrorMessage</param-name>
        <param-value>Session expired.</param-value>
    </context-param>
    <context-param>
        <param-name>dispatcherURL</param-name>
        <param-value>dispatcher</param-value>
    </context-param>
    <context-param>
        <param-name>accessControllerURL</param-name>
        <param-value>ewacontroller</param-value>
    </context-param>
    <context-param>
        <param-name>messageControllerURL</param-name>
        <param-value>ewamessagecontroller</param-value>
    </context-param>
    <context-param>
        <param-name>loggerConfigFile</param-name>
        <param-value>C:/Program Files/ApacheTomcat/Tomcat60/webapps/ewa-alpha/WEB-INF/etc/logger.conf</param-value>
    </context-param>
    <context-param>
        <param-name>loggerLogFile</param-name>
        <param-value>C:/Program Files/ApacheTomcat/Tomcat60/webapps/ewa-alpha/WEB-INF/logs/logger.log</param-value>
    </context-param>


    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>net.gos95.empire.waf.template.alpha.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EwaController</servlet-name>
        <servlet-class>net.gos95.empire.waf.ewa.alpha.servlet.EwaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EwaMessageController</servlet-name>
        <servlet-class>net.gos95.empire.waf.ewa.alpha.servlet.EwaMessageController</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/dispatcher/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EwaController</servlet-name>
        <url-pattern>/ewacontroller/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EwaMessageController</servlet-name>
        <url-pattern>/ewamessagecontroller/*</url-pattern>
    </servlet-mapping>

   
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

</web-app>